<!-- Sidebar -->
<div class="sidebar" id="sidebar">
    <div class="center-align" style="padding: 20px;">
      <i class="material-icons white-text small">cloud_upload</i>
      <h6 class="white-text" style="margin: 5px 0;">ExcelUploader</h6>
    </div>
    <ul class="collection" style="border: none;">
      <li class="collection-item blue-grey darken-4">
        <a href="{% url 'upload' %}" class="white-text" style="display: flex; align-items: center;">
          <i class="material-icons left white-text">file_upload</i>
          Upload Excel
        </a>
      </li>
      <li class="collection-item blue-grey darken-4">
        <a href="{% url 'uploads' %}" class="white-text" style="display: flex; align-items: center;">
          <i class="material-icons left white-text">list</i>
          View Uploads
        </a>
      </li>
      <li class="collection-item blue-grey darken-4">
        <a href="{% url 'dashboard' %}" class="white-text" style="display: flex; align-items: center;">
          <i class="material-icons left white-text">dashboard</i>
          Dashboard
        </a>
      </li>
    </ul>
  </div>
  
  